<nav _ngcontent-num-c240="" class="subnav">
  <ul _ngcontent-num-c240="" class="nav">
    <li _ngcontent-num-c240="" class="nav-item">
      <a _ngcontent-num-c240="" href="javascript://" class="nav-link active"
        >Subnav Link 1</a
      >
    </li>
    <li _ngcontent-num-c240="" class="nav-item">
      <a _ngcontent-num-c240="" href="javascript://" class="nav-link"
        >Subnav Link 2</a
      >
    </li>
    <li _ngcontent-num-c240="" class="nav-item">
      <a _ngcontent-num-c240="" href="javascript://" class="nav-link"
        >Subnav Link 3</a
      >
    </li>
  </ul>
</nav>
